body {
    background-color: #DBDBD7;
}

#top-bar {
    padding: 25px;
    background-color: #62E876;
}

h1 {
    text-align: center;
}

.picture-credit {
    font-size: x-small;
}

.picture-link {
    font-size: xx-small
}

button {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#footer-paragraph {
    background-color: #62E876;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
    padding: 5px;
    background-color: white;
}